<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.sec.mapper.UserMapper">

    <select id="queryUserByUsername" parameterType="java.lang.String" resultType="com.ys.sec.entity.SysUser">
        SELECT
               username, password, authorities, is_expired, is_locked, credentials_expired, is_enabled
        FROM
             t_user
        WHERE
              username = #{username};
    </select>
</mapper>
